
div{
	text-align: center;
}

#logo{
	width: 35%;
	margin-top: 10%;
}

#search{
	width: 35%;
	margin-top: 3%;
}

#results{
	border: 3px solid black;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 10%;
}